/resources/walactv_clave_privada.json
/resources/.env
*.m3u
/db/insert.sql
/database/insert.sql
/docker/.env
/iptv_scrapper/.idea/.gitignore
/.idea/AICommit.xml
/iptv_scrapper/epg_actualizado.xml
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
/iptv_scrapper/.idea/git_toolbox_prj.xml
/ansible/maquinas
/.idea/misc.xml
/iptv_scrapper/.idea/misc.xml
/.idea/modules.xml
/iptv_scrapper/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/iptv_scrapper/.idea/inspectionProfiles/profiles_settings.xml
/.idea/pythonProject.iml
/iptv_scrapper/.idea/scripts.iml
/.idea/vcs.xml
/iptv_scrapper/.idea/vcs.xml
/.idea/walactv-scrapper.iml
/.playwright-cli/
/iptv_scrapper/.playwright-google-profile/
*.pyc
