/resources/walactv_clave_privada.json
/resources/.env
*.m3u
/db/insert.sql
/database/insert.sql
/docker/.env
/scripts/.idea/.gitignore
/.idea/AICommit.xml
/scripts/epg_actualizado.xml
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
/scripts/.idea/git_toolbox_prj.xml
/ansible/maquinas
/.idea/misc.xml
/scripts/.idea/misc.xml
/.idea/modules.xml
/scripts/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/scripts/.idea/inspectionProfiles/profiles_settings.xml
/.idea/pythonProject.iml
/scripts/.idea/scripts.iml
/.idea/vcs.xml
/scripts/.idea/vcs.xml
/.idea/walactv-scrapper.iml
