services:
  walactv-proxificaurl:
    build:
      context: ../
      dockerfile: /Dockerfile
    restart: unless-stopped
    command: [ "python", "proxificaUrl.py" ]
    env_file:
      - path: .env
    networks:
      - dokploy-network

  walactv-new-scrapper:
    build:
      context: ../
      dockerfile: /Dockerfile
    restart: unless-stopped
    command: [ "python", "main2.py" ]
    env_file:
      - path: .env
    networks:
      - dokploy-network

  walactv-futboltv:
    build:
      context: ../
      dockerfile: /Dockerfile
    container_name: walactv-futboltv
    restart: unless-stopped
    env_file:
      - path: .env
    networks:
      - dokploy-network
    command: [ "sh", "-c", "while true; do sleep 3600; done" ]  # Mantener vivo

    # Scheduler con archivo de configuración
  ofelia:
    image: mcuadros/ofelia:latest
    container_name: ofelia-scheduler
    restart: unless-stopped
    depends_on:
      - walactv-futboltv
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./dockers/ofelia-config.ini:/etc/ofelia/config.ini:ro
    networks:
      - dokploy-network
    # Sin comando, usará /etc/ofelia/config.ini automáticamente


networks:
  dokploy-network:
    external: true