API_KEY=

# PostgreSQL Configuration
PG_HOST=
PG_PORT=
PG_USER=
PG_PASSWORD=
PG_DATABASE=

# JWT
JWT_SECRET=
PUBLIC_DOMAIN=

# URL de la API
IPTV_API_URL=

# EPG
EPG_USER=your_epg_user
EPG_PASS=your_epg_pass

# TMDB
TMDB_API_KEY=
TMDB_READ_TOKEN=
